{% macro printTagsRow(tagForm) %}
<li class="list-group-item">
    <div class="input-group">
        {{ form_widget(tagForm.name) }}
        <div class="input-group-append">
            <button class="btn btn-outline-secondary remove-tag" type="button" id="{{ "remove_#{tagForm.name.vars.id}" }}">Remove</button>
        </div>
    </div>
</li>
{% endmacro %}