{% extends 'base.html.twig' %}

{% import '_macros.html.twig' as macros %}

{% block body %}

<div class="my-3 p-3 bg-white rounded shadow-sm">
    <div class="media text-muted pt-3">
    {% if product.image %}
        <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{ asset('images/upload/' ~ product.image) }}"/>
    {% else %}
        <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{ asset('images/no-image.jpg') }}"/>
    {% endif %}
    {{ product.name }}
    </div>
</div>

{{ form_start(form) }}
    {{ form_row(form.name) }}
    {{ form_row(form.description) }}
    {{ form_row(form.image) }}

        <h6>Tags</h6>
        <ul class="list-group tags" data-prototype="{{ macros.printTagsRow(form.tags.vars.prototype)|e('html_attr') }}">
            {% for tag in form.tags %}
                {{ macros.printTagsRow(tag) }}
            {% endfor %}
        </ul>
        <small class="d-block text-right mt-3">
          <a id="add-tag-link" href="#">Add a tag</a>
        </small>

{{ form_end(form) }}
{% endblock %}

{% block javascripts %}{{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
    <script src="{{ asset('js/product-form.js') }}"></script>
{% endblock %}