{% extends 'product/list.html.twig' %}

{% block productFilter %}
  {% if products is not empty %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    #{{ tag }}
    <small class="d-block text-right mt-3">
      <a href="{{ path('product_list') }}">Remove filter</a>
    </small>
  </div>
  {% endif %}
{% endblock %}
