{% extends 'base.html.twig' %}

{% block body %}
  <div class="d-flex align-items-center p-3 my-3 text-white-50 bg-purple rounded shadow-sm">
    <div class="lh-100">
      <h6 class="mb-0 text-white lh-100">Products list</h6>
    </div>
  </div>

  {% block productFilter %}
  {% if products is not empty %}
  <div class="my-3 p-3 bg-white rounded shadow-sm">  
    {{ form(form) }}
  </div>
  {% endif %}
  {% endblock %}
  
  <div class="my-3 p-3 bg-white rounded shadow-sm">
    {% if products is empty %}
      No product found :(
    {% else %}
      {% for product in products %}
      <div class="media text-muted pt-3">
        <a href="{{ path('product_edit', {productId: product.getId()}) }}">
        {% if product.image %}
          <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{ asset('images/upload/' ~ product.image) }}"/>
        {% else %}
          <img class="bd-placeholder-img mr-2 rounded" width="32" height="32" src="{{ asset('images/no-image.jpg') }}"/>
        {% endif %}
        </a>
        <div class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
          <div class="d-flex justify-content-between align-items-center w-100">
            <strong class="text-gray-dark">{{ product.name }} (<a href="{{ path('product_edit', {productId: product.getId()}) }}">Edit</a>)</strong>
            {{ product.created|date("Y-m-d H:i") }}
          </div>
          <span class="d-block">{{ product.description}}</span>
        </div>
      </div>
      {% endfor %}
    {% endif %}
    <small class="d-block text-right mt-3">
      <a href="{{ path('product_create') }}">Add new product</a>
    </small>
  </div>
{% endblock %}